In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://www.shine.com/')

In [6]:
job_title=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job_title.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [9]:
Search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
Search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

# could not create XPATH for jon title title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [12]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [13]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [14]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [17]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [19]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,1 week ago,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,6 days ago,Bangalore\n+6,techno endura,0 to 1 Yr
2,3 weeks ago,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,3 weeks ago,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,1 week ago,Bangalore\n+6,techno endura,0 to 1 Yr
5,2 months ago,Bangalore,ara resources private limited,4 to 9 Yrs
6,2 months ago,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
7,3 days ago,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
8,Hot\n2 days ago,Bangalore\n+8,techno endura,0 to 2 Yrs
9,Hot\n2 days ago,Bangalore\n+9,fondstaff private limited,0 to 4 Yrs
10,Hot\n2 days ago,Bangalore\n+9,pick bright hr solution,0 to 2 Yrs
11,Hot\n2 days ago,Bangalore\n+6,techno endura,0 to 1 Yr
12,3 weeks ago,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
13,Premium\n1 week ago,Bangalore\n+2,ltimindtree limited,5 to 9 Yrs
14,3 weeks ago,Bangalore\n+4,symphoni hr pvt. ltd.,8 to 10 Yrs
15,7 days ago,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
16,1 week ago,Bangalore,spm hr solutions,4 to 6 Yrs
17,2 months ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
18,2 months ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
19,2 weeks ago,Bangalore\n+9,aspect solution,0 to 1 Yr

In [20]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [21]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [22]:
driver=webdriver.Chrome()

In [23]:
driver.get("https://www.naukri.com/")

In [24]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [25]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [26]:
location=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[1]/label/p/span[1]')
location.click()

In [27]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [28]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [29]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [30]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]/span')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [31]:
company_tags=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"][1]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [32]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]/span')
for i in experience_tags:
    experience=i.text
    experience_required.append(title)

In [33]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

25 20 25 20

In [34]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Company':company_name,})
df

,Title,Company
0,Data Scientist HTHD,Ford\n4.5\n2761 Reviews
1,Senior Data Scientist,Siemens\n4.2\n4228 Reviews
2,Data Scientist III,Walmart\n4.0\n2033 Reviews
3,Data Scientist,Big 4 Consulting Firm
4,Data Scientist,Foreign IT Consulting MNC
5,,
6,,
7,,
8,Data Scientist,Blackbuck\n3.9\n1999 Reviews
9,MACHINE LEARNING / DATA SCIENCE TRAINER,Ethnotech Academy\n3.6\n20 Reviews
10,Data Scientist,Nestle\n4.2\n2047 Reviews
11,Lead Data Scientist,Elitefit.ai
12,Data Scientist,Financial Software Systems\n3.8\n655 Reviews
13,Data Scientist,Fort Technologies\n2.1\n2 Reviews
14,AI Scientist,Course5 Intelligence\n3.9\n287 Reviews
15,Data Scientist,Course5 Intelligence\n3.9\n287 Reviews
16,Data Scientist,Aritha Consulting Services\n4.4\n5 Reviews
17,Data Scientist,Saudi Basic Industries Corporation (SABIC)\n4....
18,Data Scientist - AI (NLP),Digit Insurance\n4.0\n689 Reviews
19,Data Scientist,Aritha
20,Sr Data Scientist,Microsoft\n4.1\n1422 Reviews
21,Python and ML Trainer,The Scholar\n3.0\n4 Reviews
22,Data Scientist,Cloudbc Labs\n4.0\n8 Reviews
23,Sr. Data Scientist,Target\n4.3\n559 Reviews
24,Sr Data Scientist,Target\n4.3\n559 Reviews

In [35]:
import pandas as pd
df=pd.DataFrame({'Location':job_location,'Experience':experience_required})
df

                                             Location         Experience
0   Bengaluru, Kolkata, Mumbai, New Delhi, Hyderab...  Sr Data Scientist
1                                           Bengaluru  Sr Data Scientist
2                                           Bengaluru  Sr Data Scientist
3                                 Bengaluru, Gurugram  Sr Data Scientist
4                                           Bengaluru  Sr Data Scientist
5                                           Bengaluru  Sr Data Scientist
6   Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...  Sr Data Scientist
7                 Bengaluru, Kolkata, Mumbai, Chennai  Sr Data Scientist
8   Bengaluru, Kolkata, Mumbai, New Delhi, Hyderab...  Sr Data Scientist
9                                   Bengaluru, Mumbai  Sr Data Scientist
10                      Bengaluru, Mumbai, Coimbatore  Sr Data Scientist
11                                          Bengaluru  Sr Data Scientist
12                                          Bengaluru  Sr Data Scientist
13  Bangalore/ Bengaluru, Karnataka, Pune, Maharas...  Sr Data Scientist
14                                          Bengaluru  Sr Data Scientist
15                                          Bengaluru  Sr Data Scientist
16    Bengaluru, Hyderabad, New Delhi, Pune, Gurugram  Sr Data Scientist
17      Hybrid - Bengaluru(Nagarbhavi), Pune, Chennai  Sr Data Scientist
18                                          Bengaluru  Sr Data Scientist
19                                          Bengaluru  Sr Data Scientist

In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com/apple-iphone-15-black-128-gb/product-reviews/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART')

In [ ]:
rating_phone=[]
review_summary=[]
full_review=[]

In [ ]:
start=0
end=10
for page in range(start,end):
    Rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in Rating:
        rating_phone.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(10)

In [ ]:
start=0
end=10
for page in range(start,end):
    review_summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_summary_tags:
        review=i.text
        review_summary.append(review)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(10)

In [ ]:
start=0
end=10
for page in range(start,end):
    full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        fullreview=i.text
        full_review_tags.append(fullreview)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(10)

In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com')

In [ ]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('Sneakers')

In [ ]:
search=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [ ]:
brand_name=[]
product_description=[]
product_price=[]

In [ ]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand=i.text
    brand_name.append(brand)

In [ ]:
desc_tags=driver.find_element(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in desc_tags:
    description=i.text
    product_description.append(description)

In [ ]:
price_tags=driver.find_element(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    product_price.append(price)

In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.flipkart.com')

In [ ]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('Laptop')

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [ ]:
processor=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[1]/div/div[1]/div/section[5]/div[2]/div[1]/div[4]/div/label/div[2]')
processor.click()

In [ ]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in title_tags:
    title=i.text
    laptop_title.append(title)

In [ ]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK"]')
for i in rating_tags:
    rating=i.text
    laptop_rating.append(rating)

In [ ]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in price_tags:
    price=i.text
    laptop_price.append(price)

In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.azquotes.com')

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [ ]:
quotes_names=[]
quotes_authors=[]
quotes_types=[]

In [ ]:
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for i in author_tags:
    author=i.text
    quotes_authors.append(author)

In [ ]:
quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tags:
    quote=i.text
    quotes_names.append(quote)

In [ ]:
types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in types_tags:
    type=i.text
    quotes_types.append(type)

In [ ]:
print(len(quotes_names),len(quotes_authors),len(quotes_types))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Author':quotes_authors,'Quotes':quotes_names,'Types':quotes_types})
df

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome()

In [ ]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [ ]:
pm_names=[]
born_death=[]
pm_term=[]
pm_remarks=[]

In [ ]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for i in name_tags:
    pmname=i.text
    quotes_authors.append(pmname)